flows/hero-create-with-image.json
[
    {
        "id": "421ad137.6b2c78",
        "type": "subflow",
        "name": "Log Error",
        "info": "This Subflow will log errors to a FileMaker database.",
        "category": "Error Handling",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "3ab4c5f.29df4ba"
                    },
                    {
                        "id": "77b1ea58.ef15cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 40,
                "wires": [
                    {
                        "id": "ab50c451.d0a9c",
                        "port": 0
                    },
                    {
                        "id": "421ad137.6b2c78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "ca6c82d8.1fb968",
        "type": "catch",
        "z": "421ad137.6b2c78",
        "name": "Catch Error Logging Issue",
        "scope": ["5d3ad651.0e6f9", "3ab4c5f.29df4ba", "ab50c451.d0a9c"],
        "uncaught": false,
        "x": 270,
        "y": 140,
        "wires": [["77b1ea58.ef15cc"]]
    },
    {
        "id": "ab50c451.d0a9c",
        "type": "dapi-create-record",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log Entry",
        "client": "419e4bb0.483ef4",
        "layout": "Log API",
        "layoutType": "str",
        "data": "error",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 720,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "3ab4c5f.29df4ba",
        "type": "function",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log",
        "func": "msg.error = {\n    error: msg.error,\n    payload: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 40,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "77b1ea58.ef15cc",
        "type": "change",
        "z": "421ad137.6b2c78",
        "name": "Set Log Error Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "a5f44368.242548",
        "type": "debug",
        "z": "421ad137.6b2c78",
        "name": "Log Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "1d07f6ec.7ba0a1",
        "type": "tab",
        "label": "Create Person And Photo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6f0fe7f8.f723a8",
        "type": "inject",
        "z": "1d07f6ec.7ba0a1",
        "name": "Start Flow",
        "topic": "",
        "payload": "{\"layout\":\"People Demo API\",\"data\":{\"name\":\"Susan Kare\",\"biography\":\"Kare was born in Ithaca, New York, and is the sister of aerospace engineer Jordin Kare. In high school she worked at a museum for a designer, Harry Loucks, who introduced her to typography and graphic design.[4] She graduated from Harriton High School in 1971, graduated summa cum laude with a B.A. in Art from Mount Holyoke College in 1975, and received a Ph.D. from New York University in 1978. She next moved to San Francisco and worked for the Fine Arts Museums.\"}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 180,
        "wires": [["f85be43a.58aa58"]]
    },
    {
        "id": "44e7e2ae.7403f4",
        "type": "debug",
        "z": "1d07f6ec.7ba0a1",
        "name": "Log Results Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1760,
        "y": 120,
        "wires": []
    },
    {
        "id": "7d54713.d40d21",
        "type": "dapi-create-record",
        "z": "1d07f6ec.7ba0a1",
        "name": "Create Person Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "data": "payload",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 600,
        "y": 180,
        "wires": [["46c8be8c.af99f8"]]
    },
    {
        "id": "5bf9932d.e92e7c",
        "type": "catch",
        "z": "1d07f6ec.7ba0a1",
        "name": "Catch Errors",
        "scope": null,
        "uncaught": false,
        "x": 110,
        "y": 300,
        "wires": [["887f1a87.6e3e48"]]
    },
    {
        "id": "2f1e1241.ccfbc6",
        "type": "switch",
        "z": "1d07f6ec.7ba0a1",
        "name": "Filter No Matches",
        "property": "files",
        "propertyType": "msg",
        "rules": [
            {
                "t": "jsonata_exp",
                "v": "$boolean($count(msg.files))",
                "vt": "jsonata"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 180,
        "wires": [["d8ba4fc9.8796f"], ["f5672d2f.525858"]]
    },
    {
        "id": "46c8be8c.af99f8",
        "type": "dapi-perform-find",
        "z": "1d07f6ec.7ba0a1",
        "name": "Find Matching Image",
        "client": "419e4bb0.483ef4",
        "layout": "File API",
        "layoutType": "str",
        "limit": "",
        "limitType": "num",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "files",
        "x": 840,
        "y": 180,
        "wires": [["2f1e1241.ccfbc6"]]
    },
    {
        "id": "b697751a.f2088",
        "type": "dapi-edit-record",
        "z": "1d07f6ec.7ba0a1",
        "name": "Update Person Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "recordId": "payload.recordId",
        "recordIdType": "msg",
        "data": "update",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 1520,
        "y": 120,
        "wires": [["44e7e2ae.7403f4"]]
    },
    {
        "id": "d8ba4fc9.8796f",
        "type": "change",
        "z": "1d07f6ec.7ba0a1",
        "name": "Set Record Update",
        "rules": [
            {
                "t": "set",
                "p": "update",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "update.id_file",
                "pt": "msg",
                "to": "files.data[0].fieldData.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 120,
        "wires": [["b697751a.f2088"]]
    },
    {
        "id": "f5672d2f.525858",
        "type": "debug",
        "z": "1d07f6ec.7ba0a1",
        "name": "Log No Record Match",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1300,
        "y": 220,
        "wires": []
    },
    {
        "id": "f85be43a.58aa58",
        "type": "change",
        "z": "1d07f6ec.7ba0a1",
        "name": "Set Data, Layout, And Query",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query.name",
                "pt": "msg",
                "to": "payload.data.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "payload.layout",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "data",
                "pt": "msg",
                "to": "payload.data",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "data",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [["7d54713.d40d21"]]
    },
    {
        "id": "887f1a87.6e3e48",
        "type": "subflow:421ad137.6b2c78",
        "z": "1d07f6ec.7ba0a1",
        "name": "",
        "x": 1160,
        "y": 300,
        "wires": [["27a8a049.703b48"]]
    },
    {
        "id": "27a8a049.703b48",
        "type": "debug",
        "z": "1d07f6ec.7ba0a1",
        "name": "Log Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1790,
        "y": 300,
        "wires": []
    },
    {
        "id": "419e4bb0.483ef4",
        "type": "dapi-client",
        "z": "",
        "name": "DevCon Presentation",
        "timeout": "0",
        "concurrency": "11"
    }
]
