flows/signal-particle-device.json
[
    {
        "id": "421ad137.6b2c78",
        "type": "subflow",
        "name": "Log Error",
        "info": "This Subflow will log errors to a FileMaker database.",
        "category": "Error Handling",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "3ab4c5f.29df4ba"
                    },
                    {
                        "id": "77b1ea58.ef15cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 40,
                "wires": [
                    {
                        "id": "ab50c451.d0a9c",
                        "port": 0
                    },
                    {
                        "id": "421ad137.6b2c78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "ca6c82d8.1fb968",
        "type": "catch",
        "z": "421ad137.6b2c78",
        "name": "Catch Error Logging Issue",
        "scope": ["5d3ad651.0e6f9", "3ab4c5f.29df4ba", "ab50c451.d0a9c"],
        "uncaught": false,
        "x": 270,
        "y": 140,
        "wires": [["77b1ea58.ef15cc"]]
    },
    {
        "id": "ab50c451.d0a9c",
        "type": "dapi-create-record",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log Entry",
        "client": "419e4bb0.483ef4",
        "layout": "Log API",
        "layoutType": "str",
        "data": "error",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 720,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "3ab4c5f.29df4ba",
        "type": "function",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log",
        "func": "msg.error = {\n    error: msg.error,\n    payload: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 40,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "77b1ea58.ef15cc",
        "type": "change",
        "z": "421ad137.6b2c78",
        "name": "Set Log Error Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "a5f44368.242548",
        "type": "debug",
        "z": "421ad137.6b2c78",
        "name": "Log Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "8016b432.98e448",
        "type": "tab",
        "label": "Signal IOT Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87459fdd.b59df8",
        "type": "http in",
        "z": "8016b432.98e448",
        "name": "Receive Signal Request",
        "url": "/:coreid/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 180,
        "wires": [["42586cd9.93e444"]]
    },
    {
        "id": "cc8eb521.c7b5b8",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Set Layout Context And Query",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "devid",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "layout",
                "pt": "flow",
                "to": "Device API",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "coreid",
                "pt": "msg",
                "to": "req.params.coreid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query.coreid",
                "pt": "msg",
                "to": "coreid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "coreid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "limit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 180,
        "wires": [["2526dc81.d246bc", "6acfc3c9.3efb94"]]
    },
    {
        "id": "75062adc.f641f4",
        "type": "dapi-edit-record",
        "z": "8016b432.98e448",
        "name": "Update Device Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "flow",
        "recordId": "device.recordId",
        "recordIdType": "flow",
        "data": "payload",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 2900,
        "y": 180,
        "wires": [["3d6decf4.98a174"]]
    },
    {
        "id": "bbf3ccb1.c5259",
        "type": "dapi-perform-find",
        "z": "8016b432.98e448",
        "name": "Find Device",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "flow",
        "limit": "limit",
        "limitType": "msg",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "devices",
        "x": 1150,
        "y": 100,
        "wires": [["3680bfcb.7e76c8"]]
    },
    {
        "id": "3680bfcb.7e76c8",
        "type": "dapi-transform",
        "z": "8016b432.98e448",
        "name": "",
        "parameters": "",
        "parameterType": "none",
        "data": "devices.data[0]",
        "dataType": "msg",
        "output": "device",
        "x": 1360,
        "y": 100,
        "wires": [["8dea1318.5925d"]]
    },
    {
        "id": "57ed06dd.5ad89",
        "type": "particle-util",
        "z": "8016b432.98e448",
        "pcloud": "",
        "utilitytype": "signalDevice",
        "devid": "topic:devid",
        "productIdOrSlug": "",
        "x": 2050,
        "y": 180,
        "wires": [["231010e.8ff007"]]
    },
    {
        "id": "8dea1318.5925d",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Set Topic To Device",
        "rules": [
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "device",
                "pt": "flow",
                "to": "device",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "complete",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1590,
        "y": 100,
        "wires": [["9efcc2a0.b3ccd"]]
    },
    {
        "id": "2526dc81.d246bc",
        "type": "delay",
        "z": "8016b432.98e448",
        "name": "Delay Signal Message",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 940,
        "y": 100,
        "wires": [["bbf3ccb1.c5259"]]
    },
    {
        "id": "231010e.8ff007",
        "type": "switch",
        "z": "8016b432.98e448",
        "name": "Check If Flow is Complete",
        "property": "complete",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2340,
        "y": 180,
        "wires": [["9f2d9de5.c0a17"]]
    },
    {
        "id": "9f2d9de5.c0a17",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Remove Unneeded Properties",
        "rules": [
            {
                "t": "delete",
                "p": "payload.id",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2630,
        "y": 180,
        "wires": [["75062adc.f641f4"]]
    },
    {
        "id": "d70b9368.5566a",
        "type": "catch",
        "z": "8016b432.98e448",
        "name": "Catch Errors",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 260,
        "wires": [["d84b83ae.9635a8"]]
    },
    {
        "id": "45123132.6eba2",
        "type": "http response",
        "z": "8016b432.98e448",
        "name": "Send Response",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 3340,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ede68a0.db373",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Set Payload To Error",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1340,
        "y": 260,
        "wires": [["14080a12.e5bb86"]]
    },
    {
        "id": "42586cd9.93e444",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Preserve Request",
        "rules": [
            {
                "t": "set",
                "p": "res",
                "pt": "flow",
                "to": "res",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "req",
                "pt": "flow",
                "to": "req",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 180,
        "wires": [["cc8eb521.c7b5b8"]]
    },
    {
        "id": "14080a12.e5bb86",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Populate Request",
        "rules": [
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "req",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "res",
                "pt": "msg",
                "to": "res",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1790,
        "y": 260,
        "wires": [["2140265c.409ed2"]]
    },
    {
        "id": "3d6decf4.98a174",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Populate Request",
        "rules": [
            {
                "t": "set",
                "p": "req",
                "pt": "msg",
                "to": "req",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "res",
                "pt": "msg",
                "to": "res",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3130,
        "y": 180,
        "wires": [["45123132.6eba2"]]
    },
    {
        "id": "2140265c.409ed2",
        "type": "http response",
        "z": "8016b432.98e448",
        "name": "Send Error Response",
        "statusCode": "500",
        "headers": {
            "content-type": "application/json"
        },
        "x": 3320,
        "y": 260,
        "wires": []
    },
    {
        "id": "6acfc3c9.3efb94",
        "type": "change",
        "z": "8016b432.98e448",
        "name": "Set first Message",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 180,
        "wires": [["57ed06dd.5ad89"]]
    },
    {
        "id": "9efcc2a0.b3ccd",
        "type": "function",
        "z": "8016b432.98e448",
        "name": "Set Signal Variable",
        "func": "\nmsg.payload = msg.device.signaling == \"true\" ? false : true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1790,
        "y": 100,
        "wires": [["57ed06dd.5ad89"]]
    },
    {
        "id": "d84b83ae.9635a8",
        "type": "subflow:421ad137.6b2c78",
        "z": "8016b432.98e448",
        "name": "",
        "x": 740,
        "y": 260,
        "wires": [["5ede68a0.db373"]]
    },
    {
        "id": "419e4bb0.483ef4",
        "type": "dapi-client",
        "z": "",
        "name": "DevCon Presentation",
        "timeout": "0",
        "concurrency": "11"
    }
]
