flows/subscribe-to-particle-events.json
[
    {
        "id": "421ad137.6b2c78",
        "type": "subflow",
        "name": "Log Error",
        "info": "This Subflow will log errors to a FileMaker database.",
        "category": "Error Handling",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "3ab4c5f.29df4ba"
                    },
                    {
                        "id": "77b1ea58.ef15cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 40,
                "wires": [
                    {
                        "id": "ab50c451.d0a9c",
                        "port": 0
                    },
                    {
                        "id": "421ad137.6b2c78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "ca6c82d8.1fb968",
        "type": "catch",
        "z": "421ad137.6b2c78",
        "name": "Catch Error Logging Issue",
        "scope": ["5d3ad651.0e6f9", "3ab4c5f.29df4ba", "ab50c451.d0a9c"],
        "uncaught": false,
        "x": 270,
        "y": 140,
        "wires": [["77b1ea58.ef15cc"]]
    },
    {
        "id": "ab50c451.d0a9c",
        "type": "dapi-create-record",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log Entry",
        "client": "419e4bb0.483ef4",
        "layout": "Log API",
        "layoutType": "str",
        "data": "error",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 720,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "3ab4c5f.29df4ba",
        "type": "function",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log",
        "func": "msg.error = {\n    error: msg.error,\n    payload: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 40,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "77b1ea58.ef15cc",
        "type": "change",
        "z": "421ad137.6b2c78",
        "name": "Set Log Error Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "a5f44368.242548",
        "type": "debug",
        "z": "421ad137.6b2c78",
        "name": "Log Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "419e4bb0.483ef4",
        "type": "dapi-client",
        "z": "",
        "name": "DevCon Presentation",
        "timeout": "0",
        "concurrency": "11"
    },
    {
        "id": "82c5adf7.454058",
        "type": "tab",
        "label": "IOT Event Subscription",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3be8ccf.e0f45b4",
        "type": "particle-SSE",
        "z": "82c5adf7.454058",
        "pcloud": "",
        "subscribetype": "mine",
        "devprodslug": "__DEVPRODSLUG__",
        "devid": "",
        "evtname": "",
        "strict": 0,
        "x": 380,
        "y": 80,
        "wires": [["8d249da7.5a62f"]]
    },
    {
        "id": "6addbc3c.b4f24c",
        "type": "debug",
        "z": "82c5adf7.454058",
        "name": "Log Response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d249da7.5a62f",
        "type": "change",
        "z": "82c5adf7.454058",
        "name": "Set Layout Context",
        "rules": [
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "Event API",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 80,
        "wires": [["fbb00cfa.24076"]]
    },
    {
        "id": "530b25a9.a5b0fc",
        "type": "catch",
        "z": "82c5adf7.454058",
        "name": "Catch Errors",
        "scope": null,
        "uncaught": true,
        "x": 350,
        "y": 160,
        "wires": [["73bbedad.f025b4"]]
    },
    {
        "id": "73bbedad.f025b4",
        "type": "subflow:421ad137.6b2c78",
        "z": "82c5adf7.454058",
        "name": "",
        "env": [],
        "x": 720,
        "y": 160,
        "wires": [["476374c.b47f50c"]]
    },
    {
        "id": "476374c.b47f50c",
        "type": "debug",
        "z": "82c5adf7.454058",
        "name": "Log Error",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1100,
        "y": 160,
        "wires": []
    },
    {
        "id": "fbb00cfa.24076",
        "type": "dapi-create-record",
        "z": "82c5adf7.454058",
        "name": "Create Event Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "data": "payload",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 840,
        "y": 80,
        "wires": [["6addbc3c.b4f24c"]]
    }
]
