flows/watson-image-classification.json
[
    {
        "id": "421ad137.6b2c78",
        "type": "subflow",
        "name": "Log Error",
        "info": "This Subflow will log errors to a FileMaker database.",
        "category": "Error Handling",
        "in": [
            {
                "x": 60,
                "y": 40,
                "wires": [
                    {
                        "id": "3ab4c5f.29df4ba"
                    },
                    {
                        "id": "77b1ea58.ef15cc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 40,
                "wires": [
                    {
                        "id": "ab50c451.d0a9c",
                        "port": 0
                    },
                    {
                        "id": "421ad137.6b2c78",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "ca6c82d8.1fb968",
        "type": "catch",
        "z": "421ad137.6b2c78",
        "name": "Catch Error Logging Issue",
        "scope": ["5d3ad651.0e6f9", "3ab4c5f.29df4ba", "ab50c451.d0a9c"],
        "uncaught": false,
        "x": 270,
        "y": 140,
        "wires": [["77b1ea58.ef15cc"]]
    },
    {
        "id": "ab50c451.d0a9c",
        "type": "dapi-create-record",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log Entry",
        "client": "419e4bb0.483ef4",
        "layout": "Log API",
        "layoutType": "str",
        "data": "error",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "false",
        "mergeType": "bool",
        "output": "payload",
        "x": 720,
        "y": 40,
        "wires": [[]]
    },
    {
        "id": "3ab4c5f.29df4ba",
        "type": "function",
        "z": "421ad137.6b2c78",
        "name": "Create Error Log",
        "func": "msg.error = {\n    error: msg.error,\n    payload: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 40,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "77b1ea58.ef15cc",
        "type": "change",
        "z": "421ad137.6b2c78",
        "name": "Set Log Error Message",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "error.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 100,
        "wires": [["a5f44368.242548"]]
    },
    {
        "id": "a5f44368.242548",
        "type": "debug",
        "z": "421ad137.6b2c78",
        "name": "Log Error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0bcd400.7d1aa8",
        "type": "tab",
        "label": "Watson Image Classification",
        "disabled": false,
        "info": ""
    },
    {
        "id": "405c8ea9.614e28",
        "type": "http in",
        "z": "b0bcd400.7d1aa8",
        "name": "Classify Image Request",
        "url": "/classify",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 180,
        "wires": [["2bb9474c.2c59f8"]]
    },
    {
        "id": "14c2624d.5412d6",
        "type": "dapi-perform-find",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "limit": "limit",
        "limitType": "msg",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "files",
        "x": 670,
        "y": 180,
        "wires": [["b3200d1b.79f798"]]
    },
    {
        "id": "ffdec197.2c55f",
        "type": "dapi-edit-record",
        "z": "b0bcd400.7d1aa8",
        "name": "Update File Classified Time",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "recordId": "file.recordId",
        "recordIdType": "msg",
        "data": "update",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 2540,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "41886963.c2784",
        "type": "catch",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 80,
        "y": 400,
        "wires": [["a542c072.be6138"]]
    },
    {
        "id": "4262a8d1.4465e",
        "type": "visual-recognition-v3",
        "z": "b0bcd400.7d1aa8",
        "name": "Classify Image",
        "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
        "image-feature": "classifyImage",
        "lang": "en",
        "x": 1520,
        "y": 180,
        "wires": [["c4a9fc4b.66b388"]]
    },
    {
        "id": "2bb9474c.2c59f8",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set Layout Context and Find Query",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query.id",
                "pt": "msg",
                "to": "payload.fileId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "File API",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "container",
                "pt": "msg",
                "to": "file",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "fileid",
                "pt": "msg",
                "to": "payload.fileId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 180,
        "wires": [["14c2624d.5412d6"]]
    },
    {
        "id": "b3200d1b.79f798",
        "type": "dapi-transform",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "parameters": "",
        "parameterType": "none",
        "data": "files.data[0]",
        "dataType": "msg",
        "output": "file",
        "x": 880,
        "y": 180,
        "wires": [["6d8c7ed1.c730d8"]]
    },
    {
        "id": "6d8c7ed1.c730d8",
        "type": "dapi-container-data",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "parameters": "",
        "parameterType": "none",
        "data": "file",
        "dataType": "msg",
        "field": "container",
        "fieldType": "msg",
        "filename": "",
        "filenameType": "none",
        "destination": "",
        "destinationType": "buffer",
        "output": "payload",
        "x": 1110,
        "y": 180,
        "wires": [["321a2584.b3a642"]]
    },
    {
        "id": "321a2584.b3a642",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set File Buffer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.buffer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 180,
        "wires": [["4262a8d1.4465e"]]
    },
    {
        "id": "9f01f0b9.8a4838",
        "type": "http response",
        "z": "b0bcd400.7d1aa8",
        "name": "Send Response",
        "statusCode": "200",
        "headers": {},
        "x": 2020,
        "y": 300,
        "wires": []
    },
    {
        "id": "a542c072.be6138",
        "type": "subflow:421ad137.6b2c78",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "env": [],
        "x": 4260,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "51a43958.eb7ec",
        "type": "split",
        "z": "b0bcd400.7d1aa8",
        "name": "Split Classifiers",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2700,
        "y": 140,
        "wires": [["decd3639.2cd3b"]]
    },
    {
        "id": "c4a9fc4b.66b388",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set Payload to Watson Results",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "result.images[0].classifiers",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "classifierId",
                "pt": "msg",
                "to": "result.images[0].classifiers[0].classifier_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1770,
        "y": 180,
        "wires": [["773abd5e.fa44a4", "9f01f0b9.8a4838"]]
    },
    {
        "id": "25c52a0e.1aa95e",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Update Classified Time",
        "rules": [
            {
                "t": "set",
                "p": "update",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "update.classified",
                "pt": "msg",
                "to": "",
                "tot": "date"
            },
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "File API",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 300,
        "wires": [["ffdec197.2c55f"]]
    },
    {
        "id": "4aa89e75.1274",
        "type": "dapi-perform-find",
        "z": "b0bcd400.7d1aa8",
        "name": "Find Classes",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "limit": "limit",
        "limitType": "msg",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "classes",
        "x": 2730,
        "y": 220,
        "wires": [["57707e8.39629"]]
    },
    {
        "id": "57707e8.39629",
        "type": "switch",
        "z": "b0bcd400.7d1aa8",
        "name": "Check If Class Exists",
        "property": "classes.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2940,
        "y": 220,
        "wires": [["732812ad.9691bc"]]
    },
    {
        "id": "732812ad.9691bc",
        "type": "dapi-create-record",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "data": "class",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 3160,
        "y": 220,
        "wires": [[]]
    },
    {
        "id": "80ff307c.4193c",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Create Class And Class Query",
        "rules": [
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "Classifier API",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query.classifier_id",
                "pt": "msg",
                "to": "payload.classifier_id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "class.name",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class.classifier_id",
                "pt": "msg",
                "to": "payload.classifier_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2490,
        "y": 220,
        "wires": [["4aa89e75.1274"]]
    },
    {
        "id": "b4321fbd.015b2",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set Classification Layout",
        "rules": [
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "Classifier API",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2470,
        "y": 140,
        "wires": [["51a43958.eb7ec"]]
    },
    {
        "id": "773abd5e.fa44a4",
        "type": "split",
        "z": "b0bcd400.7d1aa8",
        "name": "Split Results",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2010,
        "y": 180,
        "wires": [["25c52a0e.1aa95e", "13cd2f3e.9749a1"]]
    },
    {
        "id": "decd3639.2cd3b",
        "type": "split",
        "z": "b0bcd400.7d1aa8",
        "name": "Split Classes",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2890,
        "y": 140,
        "wires": [["706eb8c9.bb9a4"]]
    },
    {
        "id": "b593a5c0.9a93d",
        "type": "dapi-perform-find",
        "z": "b0bcd400.7d1aa8",
        "name": "Find Classes",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "limit": "limit",
        "limitType": "msg",
        "offset": "",
        "offsetType": "num",
        "sort": "",
        "sortType": "none",
        "query": "query",
        "queryType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "portals": "",
        "portalsType": "none",
        "output": "classes",
        "x": 3310,
        "y": 140,
        "wires": [["45dce38d.dc6ab4"]]
    },
    {
        "id": "45dce38d.dc6ab4",
        "type": "switch",
        "z": "b0bcd400.7d1aa8",
        "name": "Check If Class Exists",
        "property": "classes.data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3520,
        "y": 140,
        "wires": [["364378e1.6a3e48"], ["43e73459.079494"]]
    },
    {
        "id": "706eb8c9.bb9a4",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Create Classes Query",
        "rules": [
            {
                "t": "set",
                "p": "layout",
                "pt": "msg",
                "to": "Classes API",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "limit",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "query.class",
                "pt": "msg",
                "to": "payload.class",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "query.id_file",
                "pt": "msg",
                "to": "fileid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "class.class",
                "pt": "msg",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "class.classifier_id",
                "pt": "msg",
                "to": "payload.classifier_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3100,
        "y": 140,
        "wires": [["b593a5c0.9a93d"]]
    },
    {
        "id": "95c6848a.cbfc58",
        "type": "dapi-create-record",
        "z": "b0bcd400.7d1aa8",
        "name": "Create Class Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "data": "payload",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 4220,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "1ab92dbe.33ca3a",
        "type": "dapi-edit-record",
        "z": "b0bcd400.7d1aa8",
        "name": "Update Class Record",
        "client": "419e4bb0.483ef4",
        "layout": "layout",
        "layoutType": "msg",
        "recordId": "recordId",
        "recordIdType": "msg",
        "data": "payload",
        "dataType": "msg",
        "scripts": "",
        "scriptsType": "none",
        "merge": "true",
        "mergeType": "bool",
        "output": "payload",
        "x": 4220,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "43e73459.079494",
        "type": "dapi-record-id",
        "z": "b0bcd400.7d1aa8",
        "name": "",
        "data": "classes.data[0]",
        "dataType": "msg",
        "output": "recordId",
        "x": 3750,
        "y": 200,
        "wires": [["ef6eb9a4.53273"]]
    },
    {
        "id": "90d9474.84b62b8",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set Create Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload.id_classifier",
                "pt": "msg",
                "to": "classifierid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.id_file",
                "pt": "msg",
                "to": "fileid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3990,
        "y": 60,
        "wires": [["95c6848a.cbfc58"]]
    },
    {
        "id": "ef6eb9a4.53273",
        "type": "change",
        "z": "b0bcd400.7d1aa8",
        "name": "Set Update Payload",
        "rules": [
            {
                "t": "set",
                "p": "payload.id_file",
                "pt": "msg",
                "to": "fileId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.id_classifier",
                "pt": "msg",
                "to": "classifierId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3980,
        "y": 200,
        "wires": [["1ab92dbe.33ca3a"]]
    },
    {
        "id": "13cd2f3e.9749a1",
        "type": "switch",
        "z": "b0bcd400.7d1aa8",
        "name": "Filter String Payloads",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "default",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2220,
        "y": 180,
        "wires": [["80ff307c.4193c", "b4321fbd.015b2"]]
    },
    {
        "id": "364378e1.6a3e48",
        "type": "switch",
        "z": "b0bcd400.7d1aa8",
        "name": "Filter String Payloads",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "default",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 3760,
        "y": 60,
        "wires": [["90d9474.84b62b8"]]
    },
    {
        "id": "419e4bb0.483ef4",
        "type": "dapi-client",
        "z": "",
        "name": "DevCon Presentation",
        "timeout": "0",
        "concurrency": "11"
    }
]
